<bean:beans xmlns="http://www.springframework.org/schema/security"
            xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
                                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">                           
  
  <!-- configuration for JSR-250 annotations -->
  <global-method-security jsr250-annotations="enabled"/>
  
  <!-- the bean to which request will be forwarded -->
  <bean:bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy"/>
  
  <http auto-config="true" use-expressions="true">
    <form-login login-page="/login-form" authentication-failure-url="/login-form?error=true"/>
    <http-basic/>
    <intercept-url pattern="/color-list" access="isAuthenticated() and hasRole('ROLE_PAINTER')"/>
    <intercept-url pattern="/fruit-list" access="isAuthenticated() and hasRole('ROLE_CHEF')"/>
    <intercept-url pattern="/poem" access="isAuthenticated() and hasRole('ROLE_POET')"/>
  </http>
  
  <authentication-manager>
    <authentication-provider>
      <user-service>
        <user name="monet" password="monet" authorities="ROLE_PAINTER"/>
        <user name="ratatoulle" password="ratatoulle" authorities="ROLE_CHEF"/>
        <user name="browning" password="browning" authorities="ROLE_POET"/>
      </user-service>
    </authentication-provider>
  </authentication-manager>
</bean:beans>