<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="duke" class="edu.buet.cse.springidol.impl.BeanJuggler">
    <property name="beanCount" value="5"/>
  </bean>
  
  <bean id="poem" class="edu.buet.cse.springidol.impl.ToHelen"/>
  
  <bean id="alanPoe" class="edu.buet.cse.springidol.impl.PoeticJuggler">
    <constructor-arg name="poem" ref="poem"/>
    <constructor-arg name="beanCount" value="5"/>
  </bean>
  
  <!-- demonstrates the use of factory methods -->
  <bean id="stage" class="edu.buet.cse.springidol.impl.Stage" factory-method="getInstance"/>
  
  <!-- demonstrates the use of bean scoping -->
  <bean id="ticket" class="edu.buet.cse.springidol.impl.Ticket" scope="prototype"/>
  
  <!-- demonstrates the use of initialization and destroy methods -->
  <!-- 
  <bean id="auditorium" class="edu.buet.cse.springidol.impl.Auditorium"
                        init-method="turnOnLights" destroy-method="turnOffLights"/> -->
                         
  <!-- inner bean declaration example -->
  <bean id="kenny" class="edu.buet.cse.springidol.impl.Instrumentalist">
    <property name="instrument">
      <bean class="edu.buet.cse.springidol.impl.Saxophone"/>
    </property>
    <property name="song" value="Forever in Love"/>
  </bean>
  
  <!-- use of p namespace -->
  <bean id="piano" class="edu.buet.cse.springidol.impl.Piano"/>
  
  <bean id="yanni" class="edu.buet.cse.springidol.impl.Instrumentalist"
        p:song="In the Morning Light"
        p:instrument-ref="piano"/>
        
  <!-- example of collection usage -->
  <bean id="flute" class="edu.buet.cse.springidol.impl.Flute"/>
  <bean id="harmonica" class="edu.buet.cse.springidol.impl.Harmonica"/>
  
  <bean id="hank" class="edu.buet.cse.springidol.impl.OneManBand">
    <property name="instruments">
      <set>
        <ref bean="piano"/>
        <ref bean="flute"/>
        <ref bean="harmonica"/>
      </set>
    </property>
  </bean>
  
  <!-- example of map injection via constructor -->
  <bean id="plank" class="edu.buet.cse.springidol.impl.ModifiedOneManBand">
    <constructor-arg>
      <map>
        <entry key="Piano" value-ref="piano"/>
        <entry key="Flute" value-ref="flute"/>
        <entry key="Harmonica" value-ref="harmonica"/>
      </map>
    </constructor-arg>
  </bean>
  
  <!-- example of Properties injection via constructor -->
  <bean id="lank" class="edu.buet.cse.springidol.impl.PropertyBasedOneManBand">
    <constructor-arg>
      <props>
        <prop key="Guiter">STRUM STRUM STRUM</prop>
        <prop key="Harp">DING DING DING</prop>
        <prop key="Cymbal">TING TING TING</prop>
      </props>
    </constructor-arg>
  </bean>
  
  <!-- SpEL basic example -->
  <bean id="person" class="edu.buet.cse.springidol.impl.Person">
    <property name="name" value="#{'John Doe'}"/>
    <property name="age" value="#{45}"/>
    <property name="employed" value="#{false}"/>
  </bean>
  
  <!-- SpEL bean injection and property access example -->
  <bean id="zamfir" class="edu.buet.cse.springidol.impl.Instrumentalist">
    <property name="instrument" value="#{piano}"/>
    <property name="song" value="#{kenny.song}"/>
  </bean>
  
  <!-- SpEL method invocation via chaining (with null check)-->
  <bean id="songSelector" class="edu.buet.cse.springidol.impl.SongSelector"/>
  
  <bean id="airSupply" class="edu.buet.cse.springidol.impl.AirSupply">
    <property name="song" value="#{songSelector.selectSong()?.toUpperCase()}"/>
  </bean>
  
  <!-- accessing static constants via SpEL-->
  <bean id="circleUtil" class="edu.buet.cse.springidol.impl.CircleUtil">
    <property name="multiplier" value="#{T(java.lang.Math).PI}"/>
  </bean>
</beans>