<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
  <!-- instrument beans -->                          
  <bean id="guiter" class="edu.buet.cse.spring.ch04.v2.impl.Guiter"/>
  
  <!-- performer beans -->  
  <bean id="bieber" class="edu.buet.cse.spring.ch04.v2.impl.ErraticPerformer">
    <constructor-arg value="#{guiter}"/>
  </bean>
  
  <!-- audience related AOP configuration -->
  <bean id="audience" class="edu.buet.cse.spring.ch04.v2.impl.Audience"/>
  
  <aop:config>
    <aop:pointcut id="perform-pointcut" expression="execution(* edu.buet.cse.spring.ch04.v2.model.Performer.perform(..))"/>
    
    <aop:aspect ref="audience">
      <aop:around pointcut-ref="perform-pointcut" method="watchPerformance"/>
    </aop:aspect>
  </aop:config>
  
  <!-- mind-reading related AOP configuration -->
  <bean id="plato" class="edu.buet.cse.spring.ch04.v2.impl.Philosopher"/>
  <bean id="houdini" class="edu.buet.cse.spring.ch04.v2.impl.Magician"/>
  
  <aop:config>
    <aop:pointcut id="think-pointcut" expression="execution(* edu.buet.cse.spring.ch04.v2.model.Thinker.thinkOfSomething(String)) and args(tht)"/>
    
    <aop:aspect ref="houdini">
      <aop:before pointcut-ref="think-pointcut" method="interceptThought" arg-names="tht"/>
    </aop:aspect>
  </aop:config>
  
  <!-- example of adding new functionality with AOP -->
  <bean id="yanni" class="edu.buet.cse.spring.ch04.v2.impl.Musician">
    <constructor-arg>
      <bean class="edu.buet.cse.spring.ch04.v2.impl.Piano"/>
    </constructor-arg>
  </bean>
  
  <aop:config>
    <aop:aspect>
      <aop:declare-parents types-matching="edu.buet.cse.spring.ch04.v2.model.Performer+" 
                           implement-interface="edu.buet.cse.spring.ch04.v2.model.Contestant"
                           default-impl="edu.buet.cse.spring.ch04.v2.impl.GraciousContestant"/>
    </aop:aspect>
  </aop:config>
</beans>
