<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
                 
  <!-- instrument beans -->                           
  <bean id="saxophone" class="edu.buet.cse.spring.ch04.v1.impl.Saxophone"/>
  <bean id="piano" class="edu.buet.cse.spring.ch04.v1.impl.Piano"/>
  
  <!-- performer beans -->
  <bean id="kenny" class="edu.buet.cse.spring.ch04.v1.impl.Instrumentalist">
    <property name="song" value="Forever in Love"/>
    <property name="instrument" value="#{saxophone}"/>
  </bean>     
  
  <bean id="yanni" class="edu.buet.cse.spring.ch04.v1.impl.Musician">
    <constructor-arg ref="piano"/>
  </bean>
  
  <!-- logging related AOP configuration -->
  <bean id="logger" class="edu.buet.cse.spring.ch04.v1.aop.InstrumentLogger"/>  
  
  <aop:config>
    <!-- only saxophone uses will be logged -->
    <aop:pointcut id="instrument-log" expression="execution(* edu.buet.cse.spring.ch04.v1.model.Instrument.play(..)) and bean(saxophone)"/>
    
    <aop:aspect ref="logger">
      <aop:before pointcut-ref="instrument-log" method="beforeUse"/>
      <aop:after pointcut-ref="instrument-log" method="afterUse"/>
    </aop:aspect>
  </aop:config>
  
  <!-- audience related AOP configuration -->
  <bean id="audience" class="edu.buet.cse.spring.ch04.v1.impl.Audience"/>
  
  <aop:config>
    <aop:pointcut id="perform-pointcut" expression="execution(* edu.buet.cse.spring.ch04.v1.model.Performer.perform(..))"/>
    
    <aop:aspect ref="audience">
      <aop:before pointcut-ref="perform-pointcut" method="takeSeats"/>
      <aop:before pointcut-ref="perform-pointcut" method="turnOffCellPhones"/>
      <aop:after-returning pointcut-ref="perform-pointcut" method="applaud"/>
      <aop:after-throwing pointcut-ref="perform-pointcut" method="demandRefund"/>
    </aop:aspect>
  </aop:config>
</beans>
