<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  <context:annotation-config/>
  
  <bean id="saxophone" class="edu.buet.cse.spring.ch03.v3.impl.Saxophone"/>
  <bean id="toHelen" class="edu.buet.cse.spring.ch03.v3.impl.ToHelen"/>
  
  <bean id="kenny" class="edu.buet.cse.spring.ch03.v3.impl.Instrumentalist">
    <property name="song" value="Forever in Love"/>
  </bean>
  
  <bean id="duke" class="edu.buet.cse.spring.ch03.v3.impl.PoeticJuggler">
    <property name="beanCount" value="8"/>
  </bean>
  
  <bean id="provider" class="edu.buet.cse.spring.ch03.v3.impl.KnifeProvider"/>
  
  <bean id="houdini" class="edu.buet.cse.spring.ch03.v3.impl.KnifeJuggler"/>
</beans>