body > div {
  padding: 20px !important;
}

div#header {
  text-align: center;
  font-size: 20px;
  text-align: center;
  background-color: #7fffd4;
}

div#header h1 {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 30px !important;
}

body h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.warning {
  color: red;
}

div#main {
  background-color: #dcdcdc;
}

div#main ul {
  margin-left: 20px;
}

div#main ul li {
  list-style-type: disc;
}

div#main div.options {
  margin-top: 10px;
}

div#main div.options button {
  margin-top: 5px;
}

div#footer {
  background-color: #adff2f;
}

div.options button {
  margin-top: 5px;
}